@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:ital@1&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
}

html,
body {
  scroll-behavior: smooth;
  overflow-x: hidden;
}
#contact {
  background-image: url("./img/bg.avif");
  color: white;
  font-weight: 900;
  height: 200px;
  font-family: "Josefin Sans", sans-serif;
  font-size: 70px;
  opacity: 1;
  text-shadow: 4px 2px 13px rgba(232, 22, 22, 0.7);
}
.about {
  margin-top: 50px;
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.h1 {
  font-size: 50px;
  font-family: "Josefin Sans", sans-serif;
  font-weight: 700;
  letter-spacing: 2px;
  background-image: url("./img/bg.avif");
  width: 100%;
  height: 200px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
}
.about_sec {
  margin-top: 20px;
  display: flex;
}
.sec_1 {
  display: flex;
  color: orangered;
  flex-wrap: wrap;
  flex: 1;
  height: 100%;
  padding: 20px;
  margin-top: 50px;
  font-size: 18px;
  text-align: justify;
}
.sec_2 {
  display: flex;
  flex: 1;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 20px;
}

.sec_2 > img {
  height: 400px;
}
.footer {
  background-color: orangered;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 15px;
}
@tailwind base;
@tailwind components;
@tailwind utilities;
