@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:ital@1&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
}

html,
body {
  scroll-behavior: smooth;
  overflow-x: hidden;
}
#contact {
  background-image: url("./img/bg.avif");
  color: white;
  font-weight: 900;
  height: 200px;
  font-family: "Josefin Sans", sans-serif;
  font-size: 70px;
  opacity: 1;
  text-shadow: 4px 2px 13px rgba(232, 22, 22, 0.7);
}
@tailwind base;
@tailwind components;
@tailwind utilities;
